@import "./../../../../client/prereqs.scss";
@import "./../../ui/button/variants.scss";

.cart {
	@include element((), "empty") {
		// Empty
	}
}

.product-item {
	@include flex-display();
	align-items: center;

	-webkit-box-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	align-items: center;
	position: relative;
	z-index: 1;
	border-bottom: 1px dashed map-get($background-colors, "bg-2");
	padding: 22px 30px;
	-webkit-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
	-webkit-transition-property: background-color,box-shadow;
	transition-property: background-color,box-shadow;

	@include element((), "img") {
		position: relative;
		width: 80px;

		img {
			width: 100%;
			height: auto;
		}
	}

	@include element((), "info") {

	}
}
