@import "~timcowebapps-react.toolkit/src/components/rangeslider/rangeslider-vars.scss";
$rangeslider-name: "rangeslider";
$rangebar-active-background: get-color($main-colors, "primary", "base");
$rangebar-active-background-start: $rangebar-active-background;
$rangebar-active-background-end: $rangebar-active-background;
$rangebar-active-thickness: 6px;
$rangebar-active-length: 100%;
$rangebar-active-border-radius: 0;
$rangeslider-width: 100%;
$rangeslider-height: 100%;
$rangeslider-trackbar-background: transparent;
$rangeslider-trackbar-border: none;
$rangeslider-trackbar-thickness: 6px;
$rangeslider-trackbar-range-background: get-color($background-colors, "bg-1");
$rangeslider-trackbar-range-thickness: 6px;
$rangeslider-trackbar-range-top: 0;
$rangeslider-handle-background: get-color($main-colors, "secondary", "lght");
$rangeslider-handle-border: 4px solid get-color($main-colors, "primary", "base");
$rangeslider-handle-width: 24px;
$rangeslider-handle-height: 24px;
@import "~timcowebapps-react.toolkit/src/components/rangeslider/rangeslider.scss";

.rangeslider {
	margin-bottom: 20px;
	height: 24px;

	@include element((), "handle") {
		top: 0px;
		@include border-radius(50%);

		background: -webkit-linear-gradient(bottom, #fff 0%, #f3f3f3 100%);
		background: -moz-linear-gradient(bottom, #fff 0%, #f3f3f3 100%);
		background: -o-linear-gradient(bottom, #fff 0%, #f3f3f3 100%);
		background: linear-gradient(to top, #fff 0%, #f3f3f3 100%);
	}
}
