<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html lang="ru">
	<head>
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<meta charset='utf-8'>

		<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0" />
		<meta name="description" content="Натяжные потолки в Санкт-Петербурге и Лен. области" />
		<meta name="keywords" content="натяжные потолки, санкт-петербург, спб, купить, замер, установка, недорого, дешево, цены, скидки, отзывы, фото" />
	
		<meta name="robots" content="noodp" />

		<link rel="preload" href="/assets/fonts/pfsquaresanspro_regular.ttf" as="font" type="font/ttf" crossorigin="anonymous" />
		<link rel="preload" href="/assets/fonts/pfsquaresanspro_medium.ttf" as="font" type="font/ttf" crossorigin="anonymous" />
		<link rel="preload" href="/assets/fonts/pfsquaresanspro_bold.ttf" as="font" type="font/ttf" crossorigin="anonymous" />

		<link rel="manifest" href="/manifest.json">
		<link rel="sitemap" type="application/xml" href="/sitemap.xml">

		<%= htmlWebpackPlugin.options.injectComponent["styles"] %>

		<title><%= htmlWebpackPlugin.options.title %></title>
	</head>

	<body itemscope itemtype="http://schema.org/WebPage">
		<noscript>This site uses JavaScript. Please enable JavaScript in your browser.</noscript>
		<div id="root"><%= htmlWebpackPlugin.options.injectComponent["markup"] %></div>

		<%= htmlWebpackPlugin.options.injectComponent["scripts"] %>
		<script>window.__INITIAL_DATA__ = <%= htmlWebpackPlugin.options.injectComponent["preloadedState"] %></script>
	</body>
</html>
