@import "./../../../../client/prereqs.scss";
@import "./../../ui/button/variants.scss";
@import "./../../ui/table/variants.scss";

$ratio-16-9: 56.25%;
$cols: 4;

@supports (display: grid) {
	.row {
		@include modifiers((), "ex") {
			/* #region Очистка flexbox сетки */
			width: 100%; margin: 0;
			> .col { max-width: 100%; flex-basis: 100%; padding: 0 }
			/* #endregion */

			/* #region Установка Grid Layout стилей */
			@include grid-display();
			@include grid-columns(repeat(auto-fill, minmax(270px, 1fr)));
			grid-gap: 15px;
			/* #endregion */
		}
	}
}

.visually-hidden {
	display: none;
}

.product-card {
	padding: 10px;
	position: relative;
	border-radius: 2px;
	border: none;
	background-color: #fff;
	font-size: 14px;

	h6 {
		font-weight: 300;
		margin-top: 10px;
	}

	.image-link {
		background: get-color($background-colors, "bg-1");
		position: relative;
		padding-bottom: #{$ratio-16-9 / $cols};
		width: 100%;
		height: 100%;

		img {
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: auto;
		}
	}
}

.price {
	@include modifiers((), "origin", "sale") {
		color: get-color($brand-colors, "secondary");
		margin-right: 10px;
	}

	@include modifiers((), "origin") {
		.price {
			@include element((), "amount") {
				color: get-color($brand-colors, "danger");
			}
		}
	}
}
