@import "./../../../../client/prereqs.scss";

@import "~timcowebapps-react.toolkit/src/components/input/input-vars.scss";
$input-root: false;
$input-name: "input";
@import "~timcowebapps-react.toolkit/src/components/input/input.scss";

@import "~timcowebapps-react.toolkit/src/components/num-input/num-input-vars.scss";
$numInput-name: "num-input";
$input-root: $numInput-name;
$input-name: "input";
@import "~timcowebapps-react.toolkit/src/components/num-input/num-input.scss";

@import "~timcowebapps-react.toolkit/src/components/phone-input/phone-input-vars.scss";
$phoneInput-name: "phone-input";
$input-root: $phoneInput-name;
$input-name: "input";
@import "~timcowebapps-react.toolkit/src/components/phone-input/phone-input.scss";

@import "~timcowebapps-react.toolkit/src/components/input/input-vars.scss";
$input-name: "rangeslider__form-group__input";
$input-margin: 0 0 15px;
$input-fontFamily: inherit;
$input-fontColor: $body-fontColor;
$input-fontSize: pxToRem(14px, $body-fontSize);
$input-background--intermediate-unfocused: scale-color(#fff, $lightness: -2%);
$input-background--intermediate-focused: scale-color(#fff, $lightness: -2%);
$input-background--acceptable-unfocused: scale-color(#fff, $lightness: -2%);
$input-background--acceptable-focused: scale-color(#fff, $lightness: -2%);
$input-background--invalid-unfocused: scale-color(#fff, $lightness: -2%);
$input-background--invalid-focused: scale-color(#fff, $lightness: -2%);
$input-borderColor--intermediate-unfocused: scale-color(#fff, $lightness: -20%);
$input-borderColor--intermediate-focused: scale-color(#fff, $lightness: -40%);
$input-borderColor--acceptable-unfocused: get-color($brand-colors, "success");
$input-borderColor--acceptable-focused: get-color($brand-colors, "success");
$input-borderColor--invalid-unfocused: get-color($brand-colors, "danger");
$input-borderColor--invalid-focused: get-color($brand-colors, "danger");
$input-borderWidth: 1px;
$input-borderStyle: solid;
$input-borderRadius: $corner-radius;
$input-boxShadow: none;
$input-placeholder-fontColor: inherit;
$input-width: /*100%*/42px;
$input-padding: /*8px 16px*/0 10px;
@import "~timcowebapps-react.toolkit/src/components/input/input.scss";
