@import "./../../../../client/prereqs.scss";
@import "~timcowebapps-react.toolkit/src/components/button/button-vars.scss";

/* #region Кнопка в виде названия */

$btn-name: "btn";
$btn-fontFamily: inherit;
$btn-fontWeight: normal;
$btn-borderWidth: 1px;
$btn-borderStyle: solid;
$btn-borderColor: transparent;
$btn-borderRadius: $corner-radius;
$btn-hover: lighten $color-interval;
@import "~timcowebapps-react.toolkit/src/components/button/button.scss";

$btn--link-fontColor: get-color($brand-colors, "primary");

.btn {
	@include modifiers((), "title-link") {
		color: $btn--link-fontColor;
		font-weight: 300;
		text-decoration: none;
		background: transparent;
		user-select: none;
		/* #region Относительное позиционирование */
		position: relative;
		/* #endregion */
		display: inline-block;
		overflow: hidden;
		
		label {
			cursor: inherit;
			padding: 0 pxToRem(5px, $body-fontSize);
		}
	}

	@include modifiers((), "primary") {
		background: linear-gradient(90deg,#95cc79 50%,#78be54 0);
		background-size: 200% 100%;
		background-position: 0 100%;
		font-weight: 600;
		text-transform: uppercase;
		line-height: 1em;
		font-size: 1em;
		letter-spacing: 1px;
		padding: .8em 2em!important;
	}
}

/* #endregion */

/* #region Кнопка в виде корзины */

$btn-name: "btn-shopping-cart";
$btn-fontFamily: inherit;
$btn-fontWeight: normal;
$btn-borderWidth: 1px;
$btn-borderStyle: solid;
$btn-borderColor: transparent;
$btn-borderRadius: none;
$btn-hover: "lighten" 10%;
@import "~timcowebapps-react.toolkit/src/components/button/button.scss";

.#{$btn-name} {
	background: transparent;
	line-height: 1;
	text-align: center;
	padding: 0;
	width: 100%;
	min-width: auto;
	height: 50px;
	z-index: 10000;

	@include flex-display();
	@include flex-alignItems(center);
	@include flex-justifyContent(center);

	svg {
		position: relative;
		width: 24px;
		height: 24px;

		path {
			-webkit-transform-origin: center center;
			-moz-transform-origin: center center;
			transform-origin: center center;
			
			@include transition-arglist(opacity .25s, transform .25s ease-in-out);
			@include transform(rotate(0deg));
			opacity: 1;
		}
	}

	&:hover svg path,
	&:hover svg rect {
		fill: get-color($brand-colors, "primary");
	}
}

/* #endregion */

/* #region Кнопка в виде мусорного ведра */

$btn-name: "btn-trash";
$btn-fontFamily: inherit;
$btn-fontWeight: normal;
$btn-borderWidth: 1px;
$btn-borderStyle: solid;
$btn-borderColor: transparent;
$btn-borderRadius: none;
$btn-hover: "lighten" 10%;
@import "~timcowebapps-react.toolkit/src/components/button/button.scss";

.#{$btn-name} {
	background: transparent;
	line-height: 1;
	text-align: center;
	min-width: 32px;
	height: 32px;
	padding: 0;

	@include flex-display();
	@include flex-alignItems(center);
	@include flex-justifyContent(center);

	svg {
		position: relative;
		width: 24px;
		height: 24px;

		path {
			-webkit-transform-origin: center center;
			-moz-transform-origin: center center;
			transform-origin: center center;
			
			@include transition-arglist(opacity .25s, transform .25s ease-in-out);
			@include transform(rotate(0deg));
			opacity: 1;
		}
	}

	&:hover svg path,
	&:hover svg rect {
		fill: get-color($brand-colors, "primary");
	}
}

/* #endregion */

@import "./splitbtn.scss";
