@import "./../../../../client/prereqs.scss";
@import "~timcowebapps-react.toolkit/src/components/hyperlink/hyperlink-vars.scss";

/* #region Ссылка по умолчанию */
$hyperlink-name: "hyperlink";
$hyperlink-color: get-color($brand-colors, "primary");
$hyperlink-color--hover: get-color($brand-colors, "primary", null, -$color-interval);
$hyperlink-fontWeight: 500;
$hyperlink-background: transparent;
$hyperlink-background--hover: get-color($brand-colors, "primary", null, +9);
$hyperlink-borderWidth: 0 0 1px;
$hyperlink-borderStyle: dotted;
$hyperlink-borderColor: get-color($brand-colors, "primary");
$hyperlink-borderColor--hover: get-color($brand-colors, "primary", null, -$color-interval);
@import "~timcowebapps-react.toolkit/src/components/hyperlink/hyperlink.scss";
/* #endregion */
