@import "./../../../../../../client/prereqs.scss";
@import "./../../../../ui/button/variants.scss";

.toorder {
	strong {
		font-weight: 500;
	}
}

.service-item {
	background-color: transparent;
	@include transition(background-color .3s ease-in-out);
	padding: 15px;

	&:hover {
		background-color: #f1fcfa;
	}
}
