@import "./../../../client/prereqs.scss";

:global(#root) {
	@include grid-display();
	@include grid-columns(1fr 72px);
	grid-template-areas: "main navigation";
	width: 100%;
}

:global(main) {
	z-index: 10;
}

// :global(#page) {
// 	/* #region Относительное позиционирование */
// 	position: relative;
// 	/* #endregion */

// 	//@include flex-display();
// 	//@include flex-wrap(wrap);
// 	//@include flex-direction(row);

// 	@include grid-display();
// 	@include grid-columns(1fr 60px);

// 	main {
// 		//width: calc(100% - 60px);
// 	}
// }

/* #region Фоновые вертикальные линии */

$background-cols: 6;

.zebra {
	/* #region Фиксированное позиционирование */
	position: fixed;
	top: 0;
	left: 50%;
	@include transform(translateX(calc(-50% - 30px)));
	/* #endregion */
	/* #region Размеры */
	height: 100vh;
	/* #endregion */
	/* #region Внутренний отступ */
	padding: 0;
	/* #endregion */

	z-index: -1;

	/* #region Grid layout */
	@include grid-display();
	@include grid-columns(repeat($background-cols, 1fr));
	/* #endregion */

	@include element((), "line") {
		&:first-child { border-left: 1px solid #f3f3f3; }//get-alpha-color("primary", "lght", "weak") }
		border-right: 1px solid #f3f3f3;//get-alpha-color("primary", "lght", "weak");
	}
}

/* #endregion */
