@import "./../../../../client/prereqs.scss";
@import "./../../ui/button/variants.scss";

.review_block {
	margin-bottom: 15px;
	margin-top: 40px;

	@include element((), "advantages") {
		// Empty
	}

	@include element((), "disadvantages") {
		// Empty
	}

	@include element((), "text") {
		// Empty
	}
}

.review_block_inner {
	position: relative;
	background-color: #fff;
	padding: 20px;
	margin: 0px 0px 25px;
}

.review_block_inner::after {
	content: "";
	margin-top: -12px;
	display: block;
	position: absolute;
	top: 100%;
	left: 10px;
	@include transform(rotate(-45deg));
	border-width: 12px;
	border-style: solid;
	border-color: transparent transparent #fff;
	border-image: initial;
}

.review_block_info {
	@include element((), "autor") {
	}

	@include element((), "autor-img") {
		width: 102px;
		height: 102px;
		position: relative;
		display: inline-block;

		> img {
			width: 100%;
			height: auto;
		}
	}

	@include element((), "date") {
	}

	@include element((), "city") {
	}

	@include element((), "agreement") {
	}
}
