@import "./../../../../client/prereqs.scss";
@import "./../../ui/menu/variants.scss";

.head_contact {
	/* #region Относительное позиционирование */
	position: relative;
	/* #endregion */

	@include element((), "feedback") {
		display: grid;
		grid-template-columns: 1fr 1fr;
		overflow: hidden;

		/* #region TEST */
		background: linear-gradient(90deg, #ffffff 8px, transparent 1%) left, linear-gradient(#ffffff 8px, transparent 1%) left, #589bbb4d;
		background-size: 10px 10px;
		padding: 20px 0;
		margin-bottom: 30px;
		/* #endregion */

		@include element((), "inform") {
			position: relative;
			/* #region Цвет, размер, жирность символов */
			color: get-color($brand-colors, "primary");
			font-size: pxToRem(27, $body-fontSize);
			font-weight: 300;
			line-height: 100%;
			text-decoration: none;
			/* #endregion */

			&:first-of-type {
				justify-self: end;
				/* #region Внешний отступ справа */
				margin-right: 20px;
				/* #endregion */
			}

			&:last-of-type {
				justify-self: start;
				/* #region Внешний отступ слева */
				margin-left: 20px;
				/* #endregion */
			}
		}
	}
}

.head_schedule {
	@include element((), "time") {
		p {
			color: get-color($brand-colors, "secondary");
			margin-bottom: 0;
		}

		span {
			color: get-color($brand-colors, "primary");
		}
	}
}
