$table-thead-borderBottom: 2px solid #dfdfdf !default;
$table-tbody-borderBottom: 2px solid #dfdfdf !default;
$table-tbody-row-background--2n: #fafafa !default;
$table-cell-padding: 8px !default;

table.tech-features {
	border-spacing: 0;
	border-collapse: collapse;
	width: 100%;

	font-size: 14px;
	width: 100%;
	margin-top: 27px;
	margin-bottom: 20px;

	caption {
		color: #333;
		font-size: 16px;
		padding-bottom: 8px;
		border-bottom: $table-thead-borderBottom;
	}

	thead > tr > th, tbody > tr > td {
		text-align: left;
		vertical-align: top;
		padding: $table-cell-padding;
	}

	thead {
		border-bottom: $table-thead-borderBottom;

		> tr > th {
			font-weight: 700;
		}
	}

	tbody {
		border-bottom: $table-tbody-borderBottom;

		> tr:nth-child(2n-1) {
			background: $table-tbody-row-background--2n;
		}
	}
}
