@import "~timcowebapps-react.toolkit/src/components/menu/menu-vars.scss";
$menu-name: "menu";
@import "~timcowebapps-react.toolkit/src/components/menu/menu.scss";

.#{$menu-name} {
	@include element((), "item") {
		a {
			color: #333;
			font-size: 1.2rem;
			font-weight: 500;
			text-decoration: none;
		}
	}
}
