@import "./../../../../../client/prereqs.scss";
@import "~timcowebapps-react.toolkit/src/components/heading/heading-vars.scss";
$heading-name: "heading";
$heading-font-sizes: (
	"h1": ("size": 40px, "reduction": 10px),
	"h2": ("size": 32px, "reduction": 10px),
	"h3": ("size": 28px, "reduction": 5px),
	"h4": ("size": 24px, "reduction": 5px),
	"h5": ("size": 20px, "reduction": 0px),
	"h6": ("size": 18px, "reduction": 0px)
);
@import "~timcowebapps-react.toolkit/src/components/heading/heading.scss";

.heading {
	text-transform: inherit;

	@include modifiers((), "banner") {
		//max-width: 30em/*540px*/;
		max-width: 540px;
		//margin-top: 4em/*72px*/;
		margin-top: 72px;
		//margin-bottom: 2em/*36px*/;
		margin-bottom: 36px;
	}

	@include element((), "line") {
		color: $body-fontColor;
		position: relative;
		display: inline-block;
	}
}
