@import "./../../../../client//prereqs.scss";
@import "./../../ui/button/variants.scss";
@import "./../../ui/input/variants.scss";

.callme-form {
	.fieldset {
		@include flex-display();
		@include flex-justifyContent(space-between);
		@include flex-alignItems(center);
	}

	.phone-input {
		width: 70%;
		margin-bottom: 0;

		p {
			display: none;
		}
	}
}
