@import "./../../../../client/prereqs.scss";
@import "~timcowebapps-react.toolkit/src/components/form-group/form-group-vars.scss";

/* #region Переменные поля по умолчанию */
$formGroup-name: "field";
$formGroup-margin: 0 0 15px;
$formGroup-input-fontFamily: inherit;
$formGroup-input-fontColor: #000;
$formGroup-input-fontSize: pxToRem(14px, $body-fontSize);
$formGroup-input-background: #fff;
$formGroup-input-background--focused: scale-color(#fff, $lightness: -2%);
$formGroup-input-borderWidth: 1px;
$formGroup-input-borderStyle: solid;
$formGroup-input-borderRadius: $corner-radius;
$formGroup-input-borderColor: map-get($background-colors, "bg-2");
$formGroup-input-borderColor--focused: scale-color(#fff, $lightness: -40%);
$formGroup-input-borderColor--error: get-color($brand-colors, "danger");
$formGroup-input-boxShadow: none;
$formGroup-input-placeholder-fontColor: inherit;
$formGroup-input-spinbutton: true;
$formGroup-input-width: 100%;
$formGroup-input-padding: 8px 16px;
@import "~timcowebapps-react.toolkit/src/components/form-group/form-group.scss";
/* #endregion */

/* #region Переменные поля по умолчанию */
$formGroup-name: "rangeslider__form-group";
$formGroup-margin: 0 0 15px;
@import "~timcowebapps-react.toolkit/src/components/form-group/form-group.scss";
/* #endregion */

/* #region Переменные числового поля*/
$formGroup-name: "num-input";
@import "~timcowebapps-react.toolkit/src/components/form-group/form-group.scss";
