@import "./../../../../client/prereqs.scss";
@import "./../../ui/button/variants.scss";
@import "./../../ui/checkbox/variants.scss";
@import "./../../ui/rangeslider/variants.scss";

@import "~timcowebapps-react.toolkit/src/components/section/scrollable-vars.scss";
$scrollable-name: "scrollable";
$scrollable-item-name: "item";
@import "~timcowebapps-react.toolkit/src/components/section/scrollable.scss";

/* #region Стили секций */

@import "./sections/front/index.scss";
@import "./sections/calc/index.scss";
@import "./sections/portfolio/index.scss";

.scrollable {
	overflow: hidden;
	width: 100%;
}

@mixin scrollable-disabled {
	overflow-y: scroll;

	@include element((), "item") {
		/* #region Относительное позиционирование */
		position: relative;
		/* #endregion */
		height: auto;
		opacity: 1;
	}
}

@media #{$media-screen-xs} { .scrollable { @include scrollable-disabled } }
@media #{$media-screen-sm} { .scrollable { @include scrollable-disabled } }
@media #{$media-screen-md} { .scrollable { @include scrollable-disabled } }

:global(#front),
:global(#calc),
:global(#portfolio) {
	transform: matrix(1, 0, 0, 1, 0, 0);
	will-change: transform;

	@include transition(.5s opacity);
	padding: pxToRem(70px, $body-fontSize) 0 pxToRem(35px, $body-fontSize);
	min-height: pxToRem(500px, $body-fontSize);
	overflow: hidden;
}

/* #endregion */

.to-left {
	transform: translate(100%, 0%) matrix(1, 0, 0, 1, 0, 0);
}

.to-right {
	transform: translate(-100%, 0%) matrix(1, 0, 0, 1, 0, 0);
}

.to-top {
	transform: translate(0%, 100%) matrix(1, 0, 0, 1, 0, 0);
}

.to-bottom {
	transform: translate(0%, -100%) matrix(1, 0, 0, 1, 0, 0)
}
