@import "./../../../../../../client/prereqs.scss";

/** Применим для единицы измерения (квадрата) */
$calc-fontSize--very-small: pxToRem(12px, $body-fontSize);
$calc-fontSize--small: pxToRem(16px, $body-fontSize);
$calc-fontSize--large: pxToRem(21px, $body-fontSize);

.form-row {
	/* #region Относительное позиционирование */
	position: relative;
	/* #endregion */
	display: block;
	margin-bottom: 30px;
	
	@include element((), "input") {
		margin-bottom: 15px;
		@include flex-display();
		@include flex-flow(row nowrap);
		@include flex-justifyContent(space-between);
		-webkit-box-align: end;
		-moz-box-align: end;
		-ms-flex-align: end;
		align-items: flex-end;

		.field {
			margin: 0; // переопределение
			margin-bottom: -10px;
			margin-right: 5px;
			background: transparent;

			flex-basis: auto;
			flex-shrink: 0;
			order: 0;

			label {
				color: get-color($brand-colors, "secondary");
				font-weight: normal;
				margin-right: 15px;
			}

			input {
				/* #region Размеры */
				width: 42px;
				height: 42px;
				/* #endregion */
				/* #region Внутренний отступ */
				padding: 0 10px;
				/* #endregion */
				line-height: 42px;
				background-color: transparent;
				border: 1px solid get-color($background-colors, "bg-1");
				@include border-radius(3px);
				text-align: center;
			}
		}

		@include element((), "total") {
			flex-basis: 100%;
			flex-shrink: 1;
			order: 1;

			@include element((), "unit-price") {
				text-align: right;
				font-size: $calc-fontSize--small;
			}
		
			@include element((), "total-unit-price") {
				font-weight: 500;
				text-align: right;
			}
		}
	}

	@include element((), "slider") {
		// Empty
	}
}

.price {
	display: inline-block;

	@include element((), "value") {
		color: get-color($main-colors, "primary", "lght");
		font-size: $calc-fontSize--large;
		font-weight: 500;
	}

	@include element((), "cur") {
		// Empty
	}
}

.unit-area {
	sup {
		font-size: $calc-fontSize--very-small;
	}
}
