@import "./../../../../client/prereqs.scss";
@import "./../../ui/typography/heading/variants.scss";
@import "./../../ui/button/variants.scss";
@import "./../../ui/checkbox/variants.scss";
@import "./../../ui/rangeslider/variants.scss";

/** Применим для единицы измерения (квадрата) */
$calc-fontSize--very-small: pxToRem(12px, $body-fontSize);
$calc-fontSize--small: pxToRem(16px, $body-fontSize);
$calc-fontSize--large: pxToRem(21px, $body-fontSize);

@mixin make-calc-steps {
	@for $i from 1 through 4 {
		.calc-step#{$i} {
			/* #region Относительное позиционирование */
			position: relative;
			/* #endregion */

			@include element((), "header") {
				padding: 0 15px;
				margin-bottom: 0.8em;
				text-transform: uppercase;
				font-weight: 500;
				font-size: 16px;
				color: #4b4b4b;
			}

			@include element((), "content") {
				padding: 0 15px;
			}
		}
	}
}

@include make-calc-steps;

.form-row {
	/* #region Относительное позиционирование */
	position: relative;
	/* #endregion */
	display: block;
	margin-bottom: 30px;
	
	@include element((), "input") {
		margin-bottom: 15px;
		@include flex-display();
		@include flex-flow(row nowrap);
		@include flex-justifyContent(space-between);
		@include flex-alignItems(flex-end);

		.field {
			margin: 0; // переопределение
			margin-bottom: -9px;
			margin-right: 5px;
			background: transparent;

			flex-basis: auto;
			flex-shrink: 0;
			order: 0;

			label {
				color: get-color($brand-colors, "secondary");
				font-weight: normal;
				margin-right: 15px;
				margin-bottom: 0;
				line-height: 24px;
			}

			input {
				/* #region Размеры */
				width: 42px;
				height: 42px;
				/* #endregion */
				/* #region Внутренний отступ */
				padding: 0 10px;
				/* #endregion */
				line-height: 42px;
				background-color: transparent;
				border: 1px solid get-color($background-colors, "bg-1");
				@include border-radius(3px);
				text-align: center;
			}
		}

		@include element((), "sumup") {
			flex-basis: 100%;
			flex-shrink: 1;
			order: 1;

			@include element((), "piece-price") {
				text-align: right;
				font-size: $calc-fontSize--small;
			}
		
			@include element((), "total-price") {
				font-weight: 500;
				text-align: right;
			}
		}
	}

	@include element((), "slider") {
		// Empty
	}
}

.unit-area {
	line-height: 24px;

	sup {
		font-size: $calc-fontSize--very-small;
	}
}
