@import "./../../../../../client/prereqs.scss";

@import "./../../../ui/checkbox/variants.scss";
@import "./../../../ui/rangeslider/variants.scss";

@import "~timcowebapps-react.toolkit/src/components/input/input-vars.scss";
$input-name: "num-input__input";
@import "~timcowebapps-react.toolkit/src/components/input/input.scss";
@import "~timcowebapps-react.toolkit/src/components/num-input/num-input-vars.scss";
$numInput-name: "num-input";
@import "~timcowebapps-react.toolkit/src/components/num-input/num-input.scss";

/** Применим для единицы измерения (квадрата) */
$calc-fontSize--very-small: pxToRem(12px, $body-fontSize);
$calc-fontSize--small: pxToRem(16px, $body-fontSize);
$calc-fontSize--large: pxToRem(21px, $body-fontSize);

.form-row {
	/* #region Относительное позиционирование */
	position: relative;
	/* #endregion */
	display: block;
	margin-bottom: 30px;
	
	@include element((), "input") {
		margin-bottom: 15px;
		@include flex-display();
		@include flex-flow(row nowrap);
		@include flex-justifyContent(space-between);
		-webkit-box-align: end;
		-moz-box-align: end;
		-ms-flex-align: end;
		align-items: flex-end;

		@include element((), "sumup") {
			flex-basis: 100%;
			flex-shrink: 1;
			order: 1;

			@include element((), "piece-price") {
				text-align: right;
				font-size: $calc-fontSize--small;
			}
		
			@include element((), "total-price") {
				font-weight: 500;
				text-align: right;
			}
		}
	}

	@include element((), "slider") {
		// Empty
	}
}

.unit-area {
	line-height: 24px;

	sup {
		font-size: $calc-fontSize--very-small;
	}
}
