@import "./../../../../client/prereqs.scss";
@import "~timcowebapps-react.toolkit/src/components/label/label-vars.scss";

/* #region Переменные метки текстового поля */
$label-name: "field__label";
$label-color: /*$body-fontColor*/get-color($brand-colors, "secondary");
$label-fontSize: $body-fontSize;
$label-fontWeight: /*700*/normal;
$label-textTransform: none;
$label-margin: /*0 0 5px*/0 15px 0 0;
@import "~timcowebapps-react.toolkit/src/components/label/label.scss";
/* #endregion */
