@import "./../../../../client/prereqs.scss";
@import "./../../ui/button/variants.scss";

@import "~timcowebapps-react.toolkit/src/components/navbar/navbar-vars.scss";
$navbar-name: "aside";
$navbar-background: #fff;
$navbar-direction: column;
$navbar-width: 60px;
$navbar-height: 100%;
$navbar-padding: 10px 0 0;
@import "~timcowebapps-react.toolkit/src/components/navbar/navbar.scss";

.aside {
	position: sticky;
	top: 0px;
	width: 72px;
	height: 100vh;
	grid-area: navigation;
	overflow: hidden auto;
	z-index: 11;
}

@import "~timcowebapps-react.toolkit/src/components/drawer/drawer-vars.scss";
$drawer-name: "drawer";
$drawer-width: calc(100% - 60px);
$drawer-transition: transform .5s ease;
$drawer-zIndex: 9997;
@import "~timcowebapps-react.toolkit/src/components/drawer/drawer.scss";
@import "~timcowebapps-react.toolkit/src/components/backdrop/backdrop-vars.scss";
$backdrop-name: $drawer-name + "__backdrop";
$backdrop-background: #fff;
$backdrop-top: 0;
$backdrop-left: 0;
$backdrop-right: 60px;
$backdrop-bottom: 0;
$backdrop-zIndex: 9998;
@import "~timcowebapps-react.toolkit/src/components/backdrop/backdrop.scss";
@import "~timcowebapps-react.toolkit/src/components/panel/panel-vars.scss";
$panel-name: $drawer-name + "__panel";
$panel-background: transparent;
$panel-boxShadow: none;
$panel-width: 100%;
$panel-height: 100%;
$panel-padding: 0;
$panel-zIndex: 9999;
@import "~timcowebapps-react.toolkit/src/components/panel/panel.scss";

/* #region Кнопка в виде гамбургера */

@import "~timcowebapps-react.toolkit/src/components/switch/switch-vars.scss";
$cbx-name: "hamburger";
@import "~timcowebapps-react.toolkit/src/components/switch/switch.scss";

.hamburger {
	background: transparent;
	line-height: 1;
	text-align: center;
	padding: 0;
	width: 100%;
	min-width: auto;
	height: 50px;
	z-index: 10000;

	@include flex-display();
	@include flex-alignItems(center);
	@include flex-justifyContent(center);

	svg {
		position: relative;
		width: 24px;
		height: 24px;

		path {
			-webkit-transform-origin: center center;
			-moz-transform-origin: center center;
			transform-origin: center center;
			
			@include transition-arglist(opacity .25s, transform .25s ease-in-out);
			@include transform(rotate(0deg));
			opacity: 1;
		}
	}

	&:hover svg path,
	&:hover svg rect {
		fill: get-color($brand-colors, "primary");
	}

	@include modifiers((), "checked") {
		svg {
			path:nth-child(1),
			path:nth-child(4) {
				opacity: 0;
			}

			path:nth-child(2) {
				@include transform(rotate(45deg));
			}

			path:nth-child(3) {
				@include transform(rotate(-45deg));
			}
		}
	}
}

/* #endregion */
