/* #region Загрузка шрифтов */

@font-face {
	font-family: "pfsquaresanspro";
	src: url("/assets/fonts/pfsquaresanspro_regular.ttf") format("truetype"), local("PF Square Sans Pro Regular");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "pfsquaresanspro";
	src: url("/assets/fonts/pfsquaresanspro_medium.ttf") format("truetype"), local("PF Square Sans Pro Medium");
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: "pfsquaresanspro";
	src: url("/assets/fonts/pfsquaresanspro_bold.ttf") format("truetype"), local("PF Square Sans Pro Bold");
	font-weight: bold;
	font-style: normal;
}
 
/* #endregion */
