$main-colors: (
	"primary": (
		"base": #92c9c2,
		"lght": #92c9c2,
		"dark": #92c9c2
	),
	"secondary": (
		"base": #5898b7,
		"lght": #5898b7,
		"dark": #5898b7
	),
	"accent": (
	)
);

/* #region 1.Импорт утилит */
@import "~timcowebapps-react.style/src/methodology/bem/index.scss";
@import "~timcowebapps-react.utils/src/unit/convert.scss";
@import "~timcowebapps-react.utils/src/typography/responsive-font-size.scss";
@import "~timcowebapps-react.utils/src/color/color-helpers.scss";
/* #endregion */

/* #region 2.Импорт глобалей / переопределение переменных */
@import "~timcowebapps-react.toolkit/src/global-vars.scss";

$color-interval: 3%;
$body-fontFamily: pfsquaresanspro, sans-serif;
$body-fontSize: 18px;
$body-lineHeight: 1.125;
$body-fontColor: #757c85;
$body-background: #fafcff;
$corner-radius: 2px;
$enable-rounded-corners: true;
$enable-shadows: true;
@import "~timcowebapps-react.toolkit/src/global-screen.scss";
@import "~timcowebapps-react.toolkit/src/global-reboot.scss";
/* #endregion */

/* #region 3.Импорт миксин */
@import "~timcowebapps-react.toolkit/src/mixins/box-sizing.scss";
@import "~timcowebapps-react.toolkit/src/mixins/flex.scss";
@import "~timcowebapps-react.toolkit/src/mixins/grid-layout.scss";
@import "~timcowebapps-react.toolkit/src/mixins/list.scss";
@import "~timcowebapps-react.toolkit/src/mixins/border-radius.scss";
@import "~timcowebapps-react.toolkit/src/mixins/box-shadow.scss";
@import "~timcowebapps-react.toolkit/src/mixins/transform.scss";
@import "~timcowebapps-react.toolkit/src/mixins/transition.scss";
/* #endregion */

/* #region 4.Импорт экстрактов */
@import "~timcowebapps-react.toolkit/src/extracts/spacing.scss";
@import "~timcowebapps-react.toolkit/src/extracts/no-padding.scss";
@import "~timcowebapps-react.toolkit/src/extracts/block.scss";
@import "~timcowebapps-react.toolkit/src/extracts/list.scss";
@import "~timcowebapps-react.toolkit/src/extracts/hidden.scss";
/* #endregion */

/* #region 5.Импорт сетки / переопределение переменных */
@import "~timcowebapps-react.toolkit/src/grid/grid-vars.scss";
$grid-columns: 12;
$grid-gutter-width: 0;
@import "~timcowebapps-react.toolkit/src/grid/grid-flex.scss";
@import "~timcowebapps-react.toolkit/src/grid/grid.scss";
/* #endregion */

@import "~timcowebapps-react.toolkit/src/components/price-display/price-vars.scss";
$price-name: "price";
$price-amount-fontColor: get-color($brand-colors, "primary");
$price-amount-fontSize: pxToRem(21px, $body-fontSize);
$price-amount-fontWeight: 500;
@import "~timcowebapps-react.toolkit/src/components/price-display/price.scss";

::-webkit-scrollbar { width: 5px; height: 5px }
::-webkit-scrollbar-track { background: get-color($background-colors, "bg-0") }
::-webkit-scrollbar-thumb { background: get-color($main-colors, "primary", "base") }
